* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(254, 187, 189);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ffffff;
  padding: 25px;
  width: 500px;
  border-radius: 15px;
}

.todo-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /*Yazı ve input arasına boşluk ayarladık*/
  padding-left: 5px;
  justify-content: center;
}

.todo-body {
  display: flex;
  align-items: center;
  justify-items: space-between;
  background: #edeef0;
  border-radius: 30px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
}

.todo-body input {
  border: none;
  outline: none;
  background: transparent;
  padding: 15px 0;
  font-size: 20px;
}

.todo-body img {
  /*buton ayarları düzeltilecek!!!!!!*/
  cursor: pointer;
  height: auto;
  width: 55px;
  padding: 15px;
  /* background:; */
  /* border-radius: 40px; */
}

ul li {
  list-style: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  margin-bottom: 10px; /*Html öğelerine aşağı dış boşluk vermek için kullanılır.*/
  border-radius: 10px;
}

.todo-controls {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin-right: 5px;
}

h5 {
  text-align: center;
  margin: 10px;
  color: green;
}

li {
  opacity: 0;
  animation: new-item-animation 0.3s linear forwards;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

li.deleted-item {
  animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94)
    forwards;
  transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    transform: rotateY(600px) rotate(90deg);
  }
}

.toggleMe {
  animation: hideMe 5s forwards;
}

@keyframes hideMe {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
